<div class="toolbar">
    <button (click)="zoomIn()">+</button>
    <button (click)="zoomOut()">-</button>
    <button (click)="saveAnnotations()">Сохранить</button>
</div>

<div class="document-container">
    <div [style.transform]="'scale(' + zoomLevel + ')'">
    @for (page of document.pages; track page){
        <div class="page" #pageContainer>
            <img [src]="page.imageUrl" (click)="addAnnotation(page, $event, pageContainer)"/>
            @for(annotation of page.annotations; track $index){
                <app-annotation [annotation]="annotation"
                                [pageContainer]="pageContainer"
                                (update)="updateAnnotation(annotation, $event)"
                                (delete)="deleteAnnotation(page, annotation)"
                                (move)="moveAnnotation(annotation, $event, pageContainer)">
                </app-annotation>
            }
        </div>

    }
    </div>
</div>
